.section-title__loc{
  font-family: 'Roboto-Light';
  font-size: 32px;
  line-height: 40px;
  color: $text-color-dark;
  margin-top: 56px;
}
.location__adress{
  margin-top: 16px;
}

.metro__list{
  margin-top: 10px;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.metro__list-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.metro__list-item:before{
  width: 12px;
  height: 12px;
  background: $point-metro1;
  border-radius: 50%;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  margin-right: 16px;
  content: "";
}

.metro__list-item:not(:last-child){
  margin-right: 32px;
}

.metro__list-ref{
  margin-right: 16px;
  color: $bg-color-dark;
  border-bottom: 1px dashed $bg-color-dark;
}

.metro__list-ref:hover{
  color: $point-metro1;
  border-bottom: 1px dashed $point-metro1;
  transition: all 0.7s ease;
}

.map{
  width: 1140px;
  height: 407px;
}