$bg-color-dark: #5F62AC;
$bg-color-light: #FFFFFF;
$line-color: rgba(255,255,255,0.3);
$text-color-light: #FFFFFF;
$text-color-light: #FFFFFF;
$hover-line: #F0C630;
$btn-border: #E5E5E5;
//$pink-color-font: #c83b85;
//$red-del: #e43737;
//$blue-del: #4e79aa;
//$del-overlay-grey: #3d3d3d;
