$bg-color-dark: #5F62AC;
$bg-color-light: #FFFFFF;
$line-color: rgba(255,255,255,0.3);
$text-color-light: #FFFFFF;
$text-color-dark: #000000;
$hover-line: #F0C630;
$btn-border: #E5E5E5;
$point-metro1: #71CFEC;
$point-metro2: #FCA82A;
$rocket-icon:  #774AA3;
$crown-icon: #EE4713;
$percent-icon: #FC822A;

//$blue-del: #4e79aa;
//$del-overlay-grey: #3d3d3d;
