.welcome{
  height: 636px;
  background-color: $bg-color-dark;
/*  background-image: url('../img/header-slide1.jpg');
  background-repeat: no-repeat;
  background-position: top right;*/
}

.container-bgc{
  background-image: url('../img/header-slide1.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  //opacity: 0.8;
  height: 636px;
}

.welcome__title{
  font-family: 'Roboto-Light';
  font-size: 56px;
  line-height: 64px;
  color: $text-color-light;
  width: 828px;
  margin-top: 140px;
}

.welcome__title-uppercase{
  text-transform: uppercase;
}
.welcome__subtitle{
  line-height: 24px;
  color: $text-color-light;
  margin-top: 16px;
}