//breakpoints
$tablets: 768px;
$phones: 480px;
$smallphones: 375px;

//blocks
@import 'mixins';
@import 'base';
@import 'variables';
@import 'header';
@import 'welcome';
@import 'description';
@import 'cta';
@import 'location';
@import 'see-also';
//@import 'dellivery';
//@import 'feedback';
